
# rename this file to BES_CONFIG.py and then set the following config:

BES_ROOT_SERVER_DNS  = "root.domain.tld"
BES_ROOT_SERVER_PORT = "52311"
BES_USER_NAME = "user"
BES_COMPUTER_GROUP = "00000"
REMOTE_RELEVANCE_SERVER = "SET_TO_THE_URL_OF_THIS_REMOTE_RELEVANCE_SERVER:WITH_PORT_NUMBER"

# if using Nitrous.io run the following:
# python workspace\remote-relevance\python\test_receive_results.py

#  you will need to 'pip install' any dependencies 
